name: ShellCheck
on:
    push:
        branches: [main, development]
    pull_request:
        branches: [main, development]

jobs:
  shellcheck:
     runs-on: ubuntu-latest
     steps:
       - uses: actions/checkout@v4
       - name: Run ShellCheck
         uses: ludeeus/action-shellcheck@master
         with:
           scandir: './scripts'